<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Your note&hellip;"></textarea>
    <input type="submit" value="Take Note!">
  </form>
  </section>

<% @notes.each do |note| %>
  <article <%= 'class="complete"' if note.complete %>>
    <p><%= note.content %></p>
    <form action="/<%= note.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
    <form action="/<%= note.id %>" method="post">
      <input type="text" name="content" placeholder="update"></input>
      <input type="hidden" name="_method" value="put">
      <input type="submit" value="edit">
    </form>
    <p class= "links" >
      <a href="/<%= note.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Created: <%= note.created_at %></p>
  </article>
  <%end%>